body {
  background-color: whitesmoke;
}

.app {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.header {
  text-align: center;
  background: #1abc9c;
  width: 34%;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 500px) {
    width: 65%;
  }

  .title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #4b0082;
    font-size: 28px;
    background-color: rgb(248, 207, 102);
    padding: 4px;
    margin-bottom: 4px;
    width: 95%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(-10deg);
  }
}

.footer {
  width: 56%;
  position: relative;
  height: auto;
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 500px) {
    width: 95%;
  }
}

.footer-heading {
  font-size: 22px;
  background-color: rgb(248, 207, 102);
  width: 65%;
  margin-left: 100px;

  @media screen and (max-width: 500px) {
    margin-left: 15px;
    width: 90%;
  }
}

.contain {
  display: flex;
  flex-direction: row;
}
.footer .col {
  width: 20%;
  height: 300px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #4b0082;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 15px;
  padding: 10px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.footer .col ul li:hover {
  color: black;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
